Package: us.nakedproductions.poweralert
Priority: optional
Section: System
Architecture: iphoneos-arm
Version: 1.5
Description: Creates a vibration when there's a power alert!
Name: PowerAlert Vibration
Depends: mobilesubstrate, preferenceloader (>= 1.1) 
Provides: poweralert
Conflicts: 
Replaces: 
Author: Author: EvilPenguin
